<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=obutest;AccountKey=SBxU2R7fnvnSuksSYLEkMDhCTy1EsXUTF426oMUl0IpmM6e+OssGGG420J4llzM0V6d9dy6drLfjT3+cN8A44g=="
         xdt:Transform="Insert" />

    <!--<add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=scobudevscussc2c0;AccountKey=5+h3dd8Ti/HzxYGJdGK2ptXPtfuX8lkzIP+ELwfaHrb50Mr3eSQ9IHnZ/BdWkam24hoDnXjeFoZcEa9dg5PC3w=="
         xdt:Transform="Insert" />-->
    
    <!-- The log4net.Internal.Debug application setting must be set to the value true to enable log4net internal debugging. -->
    <!--<add key="log4net.Internal.Debug" value="true" 
         xdt:Transform="Insert" />-->
    
  </appSettings>
  
  <log4net>
    <!--  LOGGING SETTINGS
          
          blobUri - The URI of the blob that is addressable using the following URL format:
                  - Local Environment: http://<storage account>.blob.core.windows.net/<container>/<blob>
                  - Role Environment:  http://<storage account>.blob.core.windows.net/<container>/<DeploymentId>/<RoleInstanceId>/<blob>
    -->
    <appender name="AzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="WebDAVAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="WebDAV.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="SearchAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Search.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="CrawlingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Crawling.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="PublishingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Publishing.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    
    <root>
      <appender-ref ref="AzureBlobStorageAppender"
                    xdt:Transform="Insert" />
    </root>
    
    <logger name="Sitecore.Diagnostics.WebDAV" additivity="false"
            xdt:Transform="Insert" >
      <level value="INFO" />
      <appender-ref ref="WebDAVAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Search" additivity="false"
            xdt:Transform="Insert" >
      <level value="INFO" />
      <appender-ref ref="SearchAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Crawling" additivity="false"
            xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="CrawlingAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Publishing" additivity="false"
            xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="PublishingAzureBlobStorageAppender" />
    </logger>
  </log4net>

  <!-- As log4net internal debug messages are written to the System.Diagnostics.Trace system it is possible to redirect those messages to a local file. 
       You can define a trace listener by adding the following to your application's .config file:
  -->
  <!--<system.diagnostics xdt:Transform="Insert">
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="D:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  
</configuration>