<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName={account-name};AccountKey={account-key}"
         xdt:Transform="Insert" />
  </appSettings>

  <log4net>
    <!--  LOGGING SETTINGS
          
          blobUri - The URI of the blob that is addressable using the following URL format:
                  - Local Environment: http://<storage account>.blob.core.windows.net/<container>/<blob>
                  - Role Environment:  http://<storage account>.blob.core.windows.net/<container>/<DeploymentId>/<RoleInstanceId>/<blob>
    -->
    <appender name="AzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="WebDAVAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="WebDAV.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="SearchAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Search.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="CrawlingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Crawling.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>
    <appender name="PublishingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics"
              xdt:Transform="Insert" >
      <blobUri value="Publishing.log.{date}.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="AzureBlobStorageAppender"
                    xdt:Transform="Insert" />
    </root>

    <logger name="Sitecore.Diagnostics.WebDAV" additivity="false"
            xdt:Transform="Insert" >
      <level value="INFO" />
      <appender-ref ref="WebDAVAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Search" additivity="false"
            xdt:Transform="Insert" >
      <level value="INFO" />
      <appender-ref ref="SearchAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Crawling" additivity="false"
            xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="CrawlingAzureBlobStorageAppender" />
    </logger>
    <logger name="Sitecore.Diagnostics.Publishing" additivity="false"
            xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="PublishingAzureBlobStorageAppender" />
    </logger>
  </log4net>
  
</configuration>