<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <logStorageManager defaultProvider="sitecore">
      <providers>
        <clear />
        <!-- Provider to configure and execute requests against the Azure Blob Storage Service.
             blobContainerName         - Cloud blob container name that is addressable using the http://<storage account>.blob.core.windows.net/<container> URL format.
      
             blobContainerPublicAccess - The level of public access that is allowed on the container. Possible values are: Blob, Container and Off.
          
             blobContainerPublicAccess="Blob"      - Blob-level public access. Anonymous clients can read blob data within this container, but not container data.
             blobContainerPublicAccess="Container" - Container-level public access. Anonymous clients can read container and blob data.
             blobContainerPublicAccess="Off"       - No public access. Only the account owner can read resources in this container.
             
                  
             textEncoding - Represents a character encoding. Possible values are: ASCII, BigEndianUnicode, Default, Unicode, UTF32, UTF7, UTF8. 
        -->
        <add name="sitecore" type="Sitecore.Azure.Diagnostics.Storage.AzureBlobStorageProvider, Sitecore.Azure.Diagnostics" blobContainerName="sitecore-logs" blobContainerPublicAccess="Off" textEncoding="UTF8" />
      </providers>
    </logStorageManager>

    <scheduling>
      <!-- Agent to clean up blobs -->
      <agent type="Sitecore.Azure.Diagnostics.Tasks.BlobsCleanupAgent" method="Run" interval="06:00:00">
        <LogActivity>true</LogActivity>
        <!-- Specifies blobs to be cleaned up.
             
             blobSearchPattern - The search string to match against the names of blobs. 
             minAge            - The maximum time span from the last blob modification.
        -->
        <blobs hint="raw:AddCommand">
          <cleanup blobSearchPattern="log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="WebDAV.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Search.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Crawling.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Publishing.log.*.txt" maxAge="7.00:00:00" />
        </blobs>
      </agent>
    </scheduling>

    <settings>
      <!--  AZURE STORAGE CONNECTION STRING APP SETTING NAME
            Defines the AppSetting name that contains the connection string to Azure Storage.
            Default: StorageConnectionString
      -->
      <setting name="Azure.Storage.ConnectionString.AppSettingName" value="StorageConnectionString" />
    </settings>

    <log4net>
    <!--  LOGGING SETTINGS
          
          blobUri - The URI of the blob that is addressable using the following URL format:
                  - Local Environment: http://<storage account>.blob.core.windows.net/<container>/<blob>
                  - Role Environment:  http://<storage account>.blob.core.windows.net/<container>/<WebsiteName>/<WebsiteInstanceId>/<blob>
                  
          bufferSize - The size of the local buffer where logging events are collected before logging them.
                     - When the buffer's size is reached, oldest events are deleted as new events are added to the buffer.
                     - Default: 200 (events). 
    -->
      <appender name="AzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics">
        <blobUri value="log.{date}.txt" />
        <bufferSize value="200" /> 
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <appender name="WebDAVAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics">
        <blobUri value="WebDAV.log.{date}.txt" />
        <bufferSize value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <appender name="SearchAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics">
        <blobUri value="Search.log.{date}.txt" />
        <bufferSize value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <appender name="CrawlingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics">
        <blobUri value="Crawling.log.{date}.txt" />
        <bufferSize value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <appender name="PublishingAzureBlobStorageAppender" type="Sitecore.Azure.Diagnostics.Appenders.AzureBlobStorageAppender, Sitecore.Azure.Diagnostics">
        <blobUri value="Publishing.log.{date}.txt" />
        <bufferSize value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>

      <root>
        <appender-ref ref="AzureBlobStorageAppender" />
      </root>

      <logger name="Sitecore.Diagnostics.WebDAV" additivity="false">
        <level value="INFO" />
        <appender-ref ref="WebDAVAzureBlobStorageAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Search" additivity="false">
        <level value="INFO" />
        <appender-ref ref="SearchAzureBlobStorageAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Crawling" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CrawlingAzureBlobStorageAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Publishing" additivity="false">
        <level value="INFO" />
        <appender-ref ref="PublishingAzureBlobStorageAppender" />
      </logger>
    </log4net>

  </sitecore>
</configuration>