<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <logStorageManager defaultProvider="sitecore">
      <providers>
        <clear />
        <!-- Provider to configure and execute requests against the Azure Blob Storage Service.
             blobContainerName         - Cloud blob container name that is addressable using the http://<storage account>.blob.core.windows.net/<container> URL format.
      
             blobContainerPublicAccess - The level of public access that is allowed on the container. Possible values are: Blob, Container and Off.
          
             blobContainerPublicAccess="Blob"      - Blob-level public access. Anonymous clients can read blob data within this container, but not container data.
             blobContainerPublicAccess="Container" - Container-level public access. Anonymous clients can read container and blob data.
             blobContainerPublicAccess="Off"       - No public access. Only the account owner can read resources in this container.
             
                  
             textEncoding - Represents a character encoding. Possible values are: ASCII, BigEndianUnicode, Default, Unicode, UTF32, UTF7, UTF8. 
        -->
        <add name="sitecore" type="Sitecore.Azure.Diagnostics.Storage.AzureBlobStorageProvider, Sitecore.Azure.Diagnostics" blobContainerName="sitecore-logs" blobContainerPublicAccess="Off" textEncoding="UTF8" />
      </providers>
    </logStorageManager>
    
    <scheduling>
      <!-- Agent to clean up blobs -->
      <agent type="Sitecore.Azure.Diagnostics.Tasks.BlobsCleanupAgent" method="Run" interval="06:00:00">
        <LogActivity>true</LogActivity>
        <!-- Specifies blobs to be cleaned up.
             
             blobSearchPattern - The search string to match against the names of blobs. 
             minAge            - The maximum time span from the last blob modification.
        -->
        <blobs hint="raw:AddCommand">
          <cleanup blobSearchPattern="log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="WebDAV.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Search.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Crawling.log.*.txt" maxAge="7.00:00:00" />
          <cleanup blobSearchPattern="Publishing.log.*.txt" maxAge="7.00:00:00" />
        </blobs>
      </agent>
    </scheduling>
    
    <settings>
      <!--  AZURE STORAGE CONNECTION STRING APP SETTING NAME
            Defines the AppSetting name that contains the connection string to Azure Storage.
            Default: StorageConnectionString
      -->
      <setting name="Azure.Storage.ConnectionString.AppSettingName" value="StorageConnectionString" />
    </settings>
    
  </sitecore>
</configuration>